@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    background-color: #011F3F;
    text-align: center;
}

.btn {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 30px;
}

/* hide restart button */
.restart {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    display: none;
    margin-bottom: 50px;
    
}

/* show restart button*/
.show {
    display: inline-block;
    
}


/* Title and level */
h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
    color: burlywood;
}


/* background colors for buttons */

#green {
    background-color: green;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}

/* when button pressed */

.pressed:active {
    transform: scale(0.98);
box-shadow: 0 0 20px white;
background-color: grey;
}

/*when we click wrong button  background becomes red */
.red {
    background-color: rgb(194, 9, 9);
}

/* media queries */
@media screen and (max-width: 600px){
    h1 {
        font-size: 1em;
    }

    .btn {
        width: 150px;
        height: 150px;
        border-radius: 25px;
        border: 8px solid black;
        margin: 15px;
    }

    .restart {
        font-family: 'Press Start 2P', cursive;
        font-size: 0.8em;
        
    }
}

@media screen and (max-width: 380px){
    h1 {
        font-size: 0.7em;
    }

    .btn {
        width: 100px;
        height: 100px;
        border-radius: 20px;
        border: 6px solid black;
        margin: 10px;
    }

    .restart {
        font-family: 'Press Start 2P', cursive;
        font-size: 0.5em;
        
    }
}


/* Click here to learn about the game */
h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
    color: burlywood;
}


/* pop-up window  */


#modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto; 	
	display: none;
}

#modal-textbox {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #DBD0C0;
	height: 450px;
	width: 600px;
	border-radius: 2px;
	margin: 100px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 120%;
}

#modal-footer {
	text-align: center;
}


h3 {
	padding-bottom: 15px;
    font-size: 2em;
}

p {
    font-size: 1.2em;
    line-height: 25px;
}

.modal-buttons {
	color: white;
	cursor: pointer;
}

/* Close button for pop-up window */
#close {
    font-size: 1.5em;
    border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	background-color: #011F3F;
	cursor: pointer;
}

